@import "../../variables.scss";

.home-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    position: fixed;
    top: 0.5rem;
    z-index: 10;

    a {
        font-weight: 900;
        color: $primary;
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
        border-bottom: 3px solid $black;
    }
}
